<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-myTeam-tab" data-toggle="tab" href="#nav-myTeam" role="tab" aria-controls="nav-myTeam" style="background-color: aqua;" aria-selected="true">My Team</a>

        <a class="nav-item nav-link" id="nav-trade-tab" data-toggle="tab" href="#nav-trade" role="tab" aria-controls="nav-trade" aria-selected="false">Trade</a>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent1">
    <div class="tab-pane fade show active" id="nav-myTeam" role="tabpanel" aria-labelledby="nav-myTeam-tab">
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-item nav-link active" id="nav-hitters-tab" data-toggle="tab" href="#nav-hitters" role="tab" aria-controls="nav-hitters" style="background-color: aqua;" aria-selected="false">Hitters</a>
                <a class="nav-item nav-link active" id="nav-pitchers-tab" data-toggle="tab" href="#nav-pitchers" role="tab" aria-controls="nav-pitchers" style="background-color: aqua;" aria-selected="false">Pitchers</a>
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent2">
            <div class="tab-pane fade show active" id="nav-hitters" role="tabpanel" aria-labelledby="nav-hitters-tab">
                @*@Html.Partial( "~/Views/Partial/Player/ViewHitters.cshtml" )*@
                Hitters
            </div>
            <div class="tab-pane fade show" id="nav-pitchers" role="tabpanel" aria-labelledby="nav-pitchers-tab">Pitcherssssss</div>
        </div>

    </div>
    <div class="tab-pane fade" id="nav-trade" role="tabpanel" aria-labelledby="nav-trade-tab">

    </div>
</div>

<script>
    $(function () {
        $('#nav-tab div:last-child a').tab('show')
    })
</script>

