@model int
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<a href="@Url.Action("Details/"+Model)" type="button" class="btn btn-success">
    <i class="far fa-list-alt"></i>
</a>