@using SalaryCapGames.Utilities
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData[ "Title" ] - SalaryCapGames</title>

    <environment include="Development">
        <link type="text/css" rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="/css/site.css" />
        <link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
        <script src="https://code.jquery.com/jquery-3.3.1.js"
                integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
                crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link type="text/css" rel="stylesheet" href="/css/jquery-ui.min.css" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a asp-action="Index" asp-controller="Home" class="navbar-brand">Salary Cap Games</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">

                @if ( User.IsInRole( Common.AdminUser ) )
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Owners and Franchises</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-controller="Users" asp-action="Index">Manage Users</a>
                        </div>
                    </li>
                }
                @if ( User.IsInRole( Common.OwnerUser ) )
                {
                    @*<li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Purchase Franchise
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>

                        </li>*@

                    <li class="nav-item">
                        <a class="nav-link" id="showModal" asp-controller="Franchises" asp-action="Purchase">Purchase Franchise</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Franchises" asp-action="Index">My Franchises</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="League" asp-action="Index">My Leagues</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Dashboard" asp-action="DashboardFranchiseIndex">My Dashboard</a>
                    </li>
                }
            </ul>
        </div>

        <div class="form-inline">
            @await Html.PartialAsync( "_LoginPartial" )
        </div>
    </nav>
    <div class="container body-content">
        <br />
        <br />
        @RenderBody()
        <br />
        <hr />

    </div>

    <footer class="footer">
        <div class="cont">
            <p class="text-muted">&copy; 2018 - SalaryCapGames</p>
        </div>
    </footer>

    <environment include="Development">

        <script type="text/javascript" src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script type="text/javascript" src="/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript" src="/js/jquery-ui.min.js" asp-append-version="true"></script>

    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script type="text/javascript" src="~/js/jquery-ui.min.js" asp-append-version="true"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>




    @RenderSection( "Scripts", required: false )

</body>
</html>
