@model SalaryCapGame.Views.WebViewModels.FranchiseIndexModel
@{
    ViewData[ "Title" ] = "DashboardIndex";
}


<br />
<br />
<h2>My Dashboard</h2>
<hr />

<div class="container-fluid">
    <div class="row ">
        <div class="col-6 form-border">
            @Html.Partial( "~/Views/Shared/Dashboard/_DashboardPartial.cshtml" )

        </div>
        <div class="col-6">
            @Html.Partial( "~/Views/Shared/Dashboard/_DashboardTradeTabsPartial.cshtml" )
            @Html.Partial( "~/Views/Shared/Dashboard/_DashboardChartPartials.cshtml" )
        </div>
    </div>

</div>


@section Scripts{

    <script type="text/javascript" src="~/js/myDatatable.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="~/js/Charts.js"></script>
}
