@model SalaryCapGame.Views.WebViewModels.DashboardIndexViewModel.DashboardIndexViewModel
@{
    ViewData[ "Title" ] = "ViewPitchers";
}


<br />
<br />
<h2>View Pitchers</h2>
<hr />

<div class="d-flex justify-content-start" y-0>
    <div class="row">
        @Html.Partial( "~/Views/Shared/Players/Pitchers/_ViewAllPitchersPartial.cshtml", Model )

    </div>
</div>
@section Scripts{

    <script type="text/javascript" src="~/js/myDatatable.js"></script>
}
