@model SalaryCapData.Data.Models.PlayerAssignment

<ul class="nav nav-tabs" id="myTeamTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" style="background-color:bisque; margin-right: 2px;" id="hitters-tab" data-toggle="tab" href="#hitters" role="tab" aria-controls="hitters" aria-selected="true">Hitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pitchers-tab" style="background-color:burlywood;" data-toggle="tab" href="#pitchers" role="tab" aria-controls="pitchers" aria-selected="false">Pitchers</a>
    </li>

</ul>


<div class="tab-content" id="myTeamTabContent">
    <div style="border-color:bisque;" class="tab-pane form-border fade show active" id="hitters" role="tabpanel" aria-labelledby="hitters-tab">

        @Html.Partial( "~/Views/Shared/Players/Hitters/_ViewAllHittersPartial.cshtml", Model.Player.HitterStats )

    </div>
    <div style="border-color:burlywood;" class="tab-pane form-border " id="pitchers" role="tabpanel" aria-labelledby="pitchers-tab">
        @Html.Partial( "~/Views/Shared/Players/Hitters/_ViewAllHittersPartial.cshtml", Model.Player.PitcherStats )
    </div>
</div>



