@model SalaryCapGame.Views.WebViewModels.StatsIndexListModel

<h4 class="text-muted">Trade Players</h4>
<hr />
<ul class="nav nav-tabs" id="tradeTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" style="background-color:darkcyan; margin-right: 2px; color:wheat;" id="trade-hitters-tab" data-toggle="tab" href="#trade-hitters" role="tab" aria-controls="trade-hitters" aria-selected="true">Hitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="trade-pitchers-tab" style="background-color:darkolivegreen; color:wheat;" data-toggle="tab" href="#trade-pitchers" role="tab" aria-controls="trade-pitchers" aria-selected="false">Pitchers</a>
    </li>

</ul>
<div class="tab-content" id="myTradeTabContent">
    <div style="border-color:darkcyan;" class="tab-pane form-border fade show active" id="trade-hitters" role="tabpanel" aria-labelledby="trade-hitters-tab">
        @Html.Partial( "~/Views/Shared/Players/Hitters/_ViewAllHittersPartial.cshtml", Model.HitterStats )
    </div>
    <div style="border-color:aquamarine" class="tab-pane form-border fade" id="trade-pitchers" role="tabpanel" aria-labelledby="trade-pitchers-tab">
        @Html.Partial( "~/Views/Shared/Players/Hitters/_ViewAllHittersPartial.cshtml", Model.PitcherStats )
    </div>
</div>



