
<ul class="nav nav-tabs" id="myTeamTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" style="background-color:bisque; margin-right: 2px;" id="hitters-tab" data-toggle="tab" href="#hitters" role="tab" aria-controls="hitters" aria-selected="true">Hitters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pitchers-tab" style="background-color:burlywood;" data-toggle="tab" href="#pitchers" role="tab" aria-controls="pitchers" aria-selected="false">Pitchers</a>
    </li>
    
</ul>
<div class="tab-content" id="myTeamTabContent">
    <div style="border-color:bisque;" class="tab-pane form-border fade show active" id="hitters" role="tabpanel" aria-labelledby="hitters-tab">
        @*@Url.Action("ViewHitters", "Players", new { id = 1 })*@
        Ut arcu enim, dictum quis ultrices id, sagittis eget nulla sed nunc mi, congue ut ultricies ac, varius a eros donec porttitor, libero fermentum fringilla laoreet, eros arcu sodales ante, ut dictum risus lectus vel quam integer ultricies, nunc eget elementum euismod, orci enim vestibulum orci, nec suscipit urna odio et tellus suspendisse suscipit orci sit amet sem venenatis nec lobortis sem suscipit nullam nec imperdiet velit mauris eu nisi a felis imperdiet porta at ac nulla vivamus faucibus felis nec dolor pretium eget pellentesque dolor suscipit maecenas vitae enim arcu, at tincidunt nunc pellentesque eleifend vulputate lacus, vel semper sem ornare sit amet proin sem sapien, auctor vel faucibus id, aliquet vitae ipsum etiam auctor ultricies ante, at dapibus urna viverra sed nullam mi arcu, tempor vitae interdum a, sodales non urna vestibulum dignissim auctor mauris, ac elementum purus fermentum vitae duis placerat laoreet risus, sit amet eleifend tellus lobortis non vivamus iaculis dapibus leo a ornare cras vel sem at felis convallis mollis posuere ultrices dolor sed tellus arcu, accumsan a consectetur sit amet, volutpat eget lorem phasellus quis ipsum orci integer sodales tincidunt nibh a elementum ut ac libero nec orci euismod euismod nec at nulla duis.
    </div>
    <div style="border-color:burlywood;"  class="tab-pane form-border " id="pitchers" role="tabpanel" aria-labelledby="pitchers-tab">
        Velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu diam hendrerit at mattis purus dignissim vivamus mauris tellus, fringilla vel dapibus a, blandit quis erat vivamus elementum aliquam luctus etiam fringilla pretium sem vitae sodales mauris id nulla est praesent laoreet, metus vel auctor aliquam, eros purus vulputate leo, eget consequat neque quam id tellus duis ultricies tempor tortor, vitae dignissim ligula mattis nec in hac habitasse platea dictumst.
    </div>
</div>



