<div class="row chartRow">
    <div class="chartContainer">
        <div class="chart6">
            <label for="myChart6" style="text-align:center">
                Franchise Points<br />
                <canvas id="myChart6"></canvas>
            </label>
        </div>
    </div>
    <div class="chartContainer">
        <div class="chart5">
            <label for="myChart5" style="text-align:center">
                Franchise Value <br />
                <canvas id="myChart5"></canvas>
            </label>
        </div>
    </div>
</div>
